* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Karla, sans-serif;
}

main {
    background-color: #0B2434;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin: auto;
    align-items: center;
}

.div-container {
    background-color: #F5F5F5;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    padding: 10px;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: Karla, sans-serif;
}

.num-button{
    background-color: white;
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0);
    color: #0B2434;
    width: 30px;
    height: 35px;
    font-size: 1.25rem;
    align-self: center;
}